@import "../../../styles/colors.less";
@import "../../../styles/sizes.less";

.dropzone-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: @dropzone-padding;

    background-color: @dropzone-background-color;

    border-color: @dropzone-border-color;
    border-width: @dropzone-border-width;
    border-style: dashed;
    border-radius: @dropzone-border-radius;
}

.dropzone-container > p {
    color: @dropzone-text-color;
}

.dropzone-container-drag-active {
    background-color: @dropzone-drag-background-color;
}