{
    "endOfLine": "auto",
    "printWidth": 120,
    "tabWidth": 4,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[./].*$(?<!\\.less)", "^.*\\.less"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
