/* Custom fonts */
@font-face { 
    font-family: cog;
    src: url('fonts/Cogmind-Cog.woff2') format('woff2'),
         url('fonts/Cogmind-Cog.woff') format('woff'),
         url('fonts/Cogmind-Cog.ttf') format('truetype');
}

@font-face { 
    font-family: cog-mono;
    src: url('fonts/Cogmind-Cog-mono.woff2') format('woff2'),
         url('fonts/Cogmind-Cog-mono.woff') format('woff'),
         url('fonts/Cogmind-Cog-mono.ttf') format('truetype');
}

@font-face { 
    font-family: smallcaps;
    src: url('fonts/Cogmind-Smallcaps.woff2') format('woff2'),
         url('fonts/Cogmind-Smallcaps.woff') format('woff'),
         url('fonts/Cogmind-Smallcaps.ttf') format('truetype');
}

@font-face { 
    font-family: smallcaps-mono;
    src: url('fonts/Cogmind-Smallcaps-mono.woff2') format('woff2'),
         url('fonts/Cogmind-Smallcaps-mono.woff') format('woff'),
         url('fonts/Cogmind-Smallcaps-mono.ttf') format('truetype');
}

html {
    background-color: black;
}

body {
    font-family: smallcaps;
    background-color: black;
    color: #00cc00;
}

.header {
    font-family: cog;
}

.not-visible {
    display: none!important;
}

/* Popup tooltip */
.tooltip-inner {
    color: #00cc00;
    background-color: #004200;
    border: 1px solid #008800;
}

/* Popup tooltip arrow */
.tooltip .arrow::before {
    border-top-color: #008800;
    border-bottom-color: #008800;
}

/* Input label */
.input-group-text, .input-group-lg > .input-group-prepend > .input-group-text {
    color: #9da9af;
    background-color: #162416;
    border: 1px solid #006200;
    border-radius: 0;
}

.input-group-lg > .form-control {
    border-radius: 0;
}

/* Input textbox */
.form-control, .form-control:focus {
    color: #9da9af;
    background-color: black;
    border: 1px solid #006200;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00cc00;
}

/* Buttons */
.btn {
    color: #9da9af;
    background-color: black;
    border-color: #006200;
    border-radius: 0;
    box-shadow: none;
}

.btn.active {
    border-color: #00aa00;
}

.btn.focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):not(:hover).active {
    background-color: #005700;
}

.btn:hover:not(.active) {
    border: 1px solid #00aa00;
    z-index: 0;
    color: #aaa;
}

.btn:hover {
    background-color: #004200;
    color: #aaa;
}

/* Button groups, margin stuff is a bit hacky to avoid double-wide border */
.btn-group * {
    margin-top: -1px;
}
.input-group-prepend {
    margin-top: 0px;
}

.btn-group > *:first-child {
    margin-left: -1px;
}

/* Grid */
.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* gap: 1px; */
}

/* Grid item */
.item {
    display: block;
    text-align: center;
    padding: .25rem .25rem;
    background-color: inherit;
    margin-left: -1px;
    margin-top: -1px;
    color: #00cc00;
}

/* Description popover */
.popover {
    background-color: black;
    border: 2px solid #008c00;
    border-radius: 0;
    max-width: 82ch;
}

.popover-summary {
    margin: 0;
    font-family: smallcaps-mono;
    color: #bfbfbf;
    font-size: initial;
}

.popover-line {
    margin: 0;
    font-family: smallcaps-mono;
    color: #00b200;
    font-size: initial;
}

.popover .arrow::before, .popover .arrow::after {
    border-right-color: #008800;
    border-left-color: #008800;
}

.popover-title {
    text-align: center;
    color: #00b200;
    font-family: smallcaps-mono;
    font-size: initial;
}

.popover-close-btn {
    font-family: smallcaps-mono;
    padding: .2rem;
    background-color: #162416;
    margin-right: -1.5rem;
}

/* Dim text style */
.dim-text {
    color: #004000;
}

/* Range colors */
.range-green, .range-yellow, .range-orange, .range-red, .range-dim {
    letter-spacing: -.08rem;
}

.range-green {
    color: #00b200;
}

.range-yellow {
    color: #b2b200;
}

.range-orange {
    color: #b25900;
}

.range-red {
    color: #b20000;
}

.range-dim {
    color: #004000;
}

/* Prototype/Alien highlight */
.rating-prototype, .rating-alien {
    color: black;
    background-color: #00b200;
    border: 2px solid #00b200;
}