@import "../../../styles/common.less";

.page-content {
    > * {
        margin: @default-element-top-margin;
    }
}

.page-paragraph-container {
    * {
        margin-top: @default-paragraph-margin;
        font-family: @paragraph-font-family;
        font-size: @paragraph-font-size;
    }
}

.page-input-group {
    display: flex;
    column-gap: @default-element-column-gap;

    > * {
        flex: 1 1 auto;
    }
}
