@import "../../../../styles/common.less";

.damage-reduction-select {
    flex: 0;
    width: 35rem;
    min-width: 35rem;
}

.enemy-group {
    display: flex;
    flex-grow: 0;
}

.enemy-select {
    width: 21rem;
    min-width: 21rem;
}

.enemy-behavior-select {
    flex: 0;
    width: 27rem;
    min-width: 27rem;
}

.siege-select {
    flex: 0;
    width: 24rem;
    min-width: 24rem;
}

.sneak-attack-select {
    flex: 0;
    width: 20rem;
    min-width: 20rem;
}

.weapon-select {
    flex: 0;
    width: 29rem;
    min-width: 29rem;
}

.weapon-row,
.new-weapon-row {
    display: flex;
    gap: @medium-gap;

    margin: @small-gap 0;
}

.new-weapon-row {
    margin-bottom: @large-gap;
}

.last-pre-weapon-row {
    margin-bottom: @large-gap;
}

.simulate-row {
    display: flex;
    margin-top: @large-gap;
}

.simulate-button {
    font-size: @simulate-button-font-size;
    width: 11rem;
}

.status-text {
    align-self: center;
    margin-left: @medium-gap;
}

.chart-container {
    height: 40rem;
}

.custom-dataset-groups {
    display: grid;
    gap: @medium-gap;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    > * {
        display: flex;
        gap: @small-gap;

        > input {
            flex: 1 1 auto;
        }
    }
}
