@import "../../../styles/common.less";

.text-tooltip {    
    max-width: @tooltip-max-width;
    padding: @tooltip-padding;
    border-radius: @default-border-radius;
    box-sizing: border-box;

    background-color: @tooltip-background-color;
    color: @font-color;

    border: @default-border-width solid @border-color;
    
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;

    pointer-events: none;
}

.tooltip-arrow {
    fill: @border-color;
}