.comparison-info {
    border: solid 2px transparent;
    margin: 0;
}

.comparison-info > :first-child {
    margin-top: 0.5rem;
}

.comparison-info-col {
    flex: 0 0 12%;
    max-width: 12%;
    margin-left: 5px;
    margin-right: 5px;
}

.comparison-infobox-col,
.comparison-dropdown-col {
    flex: 0 0 41%;
    padding-left: 10px;
    padding-right: 10px;
}

.comparison-dropdown-col {
    max-width: 41%;
}

.comparison-positive,
.comparison-neutral,
.comparison-negative {
    font-family: smallcaps-mono;
    font-size: 0.8rem;
    margin: 0;
    padding-right: 0.5ch;
    text-align: right;
}

.comparison-positive {
    color: #00d900;
    background-color: #002000;
}

.comparison-neutral {
    color: #bfbfbf;
}

.comparison-negative {
    color: #d90000;
    background-color: #200000;
}
