@import "../Pages.less";

.slot-type-select {
    width: 21rem;
    min-width: 21rem;
}

.category-type-select {
    width: 19rem;
    min-width: 19rem;
}

.sort-select {
    width: 13rem;
    min-width: 13rem;
}

.sort-order-select {
    width: 10rem;
    min-width: 10rem;
}

.part-button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    button {
        width: 100%;
        height: 100%;
        min-height: @button-grid-button-height;
        border-radius: 0;

        padding: 0 @button-small-padding;

        font-size: @button-grid-font-size;
    }
}

.part-popover-arrow {
    fill: @popover-border-color;
}

.comparison-container {
    border: none;
    background-color: unset;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 8px;
}

.part-comparison-part-column {
    display: flex;
    flex-direction: column;
    gap: @element-column-gap;
}

.part-comparison-details-column {
    display: flex;
    flex-direction: column;
    gap: @element-column-gap;
    line-height: 1.5;
    
    text-align: center;
    width: 9.25rem;
}

.part-comparison-image-container {
    margin-top: calc(2px + 0.5rem);
}