@import "../Pages.less";

.slot-type-select {
    width: 21rem;
    min-width: 21rem;
}

.category-type-select {
    width: 19rem;
    min-width: 19rem;
}

.sort-select {
    width: 13rem;
    min-width: 13rem;
}

.sort-order-select {
    width: 10rem;
    min-width: 10rem;
}

// Really hate doing this but it's a big headache to align these perfectly
.swap-button {
    height: 2.25rem;
    padding: 0;
}

.swap-button-cogmind {
    height: 2.0rem;
    padding: 0;
}

.part-button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(@part-button-min-width, 1fr));

    button {
        width: 100%;
        height: 100%;
        min-height: @button-grid-button-height;
        border-radius: 0;

        padding: 0 @button-small-padding;

        color: @font-paragraph-color;
        font-size: @button-grid-font-size;
    }
}

.part-gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(@details-part-image-width, 1fr));

    button {
        background-image: @gallery-part-button-background-gradient;
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: @button-small-padding;
    }

    span {
        display: block;
        color: @font-paragraph-color;
        font-size: @gallery-grid-font-size;
        font-family: @details-font-family;
    }

    .unclaimed-supporter-span {
        color: @comparison-neutral-font-color;
    }

    img {
        width: @details-part-image-width;
        height: @details-part-image-height;
    }
}

// Comparisons
.comparison-container {
    border: none;
    background-color: unset;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: @comparison-container-gap;
}

.part-comparison-part-column {
    display: flex;
    flex-direction: column;
    gap: @element-column-gap;
}

.part-comparison-details-column {
    display: flex;
    flex-direction: column;
    gap: @element-column-gap;
    line-height: @comparison-line-height;

    text-align: center;
    width: @comparison-column-width;
}

.part-comparison-image-container {
    margin-top: calc(@large-border-width + @comparison-container-gap);
}

.comparison-positive,
.comparison-neutral,
.comparison-negative {
    font-family: @details-font-family;
    font-size: @details-font-size;
    margin: 0;
    padding-right: @part-comparison-right-padding;
    text-align: right;
}

.comparison-positive {
    color: @comparison-positive-font-color;
    background-color: @comparison-positive-background-color;
}

.comparison-neutral {
    color: @comparison-neutral-font-color;
}

.comparison-negative {
    color: @comparison-negative-font-color;
    background-color: @comparison-negative-background-color;
}

.comparison-sprite-line {
    height: 50px;
    margin: 0;
}

.parts-table {
    // Table hack needed to get name to fit 100% width/height
    > tbody > tr > :first-child {
        position: relative;
    }
}

.name-popover {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > button {
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        border-radius: 0;
        
        display: block;

        font-family: @paragraph-font-family;
        text-align: left;
    }
}
