@import "../../../styles/common.less";

.button {
    color: @font-color-default;
    background-image: @button-background-gradient;
    border: @default-border-width solid @default-border-color;
    border-radius: @default-border-radius;

    cursor: pointer;

    padding: @button-default-padding;
    font-size: medium;
}

.button:hover,
.button:focus {
    background-image: @button-hover-focus-background-gradient;
    color: @font-color-contrast;
}

.exclusive-buttons {
    > * {
        margin-left: -@default-border-width;
        border-radius: 0;
    }

    > :first-child {
        border-top-left-radius: @default-border-radius;
        border-bottom-left-radius: @default-border-radius;

        margin-left: 0;
    }

    > :last-child {
        border-top-right-radius: @default-border-radius;
        border-bottom-right-radius: @default-border-radius;

        margin-right: 0;
    }
}

.exclusive-button-active {
    background-image: @button-active-background-gradient;
    color: @font-color-contrast;
}
