@import "../../../styles/colors.less";
@import "../../../styles/sizes.less";

.button {
    color: @button-font-color;
    background-image: linear-gradient(to bottom, @button-background-color 0%, @button-background-color2 100%);
    border: @button-border-width solid @button-border-color;
    border-radius: @button-border-radius;
    border-top-left-radius: 0;

    cursor: pointer;

    padding: @button-default-padding;
    font-size: medium;

    transition: 0.1s ease-in;
}

.button:hover,
.button:focus {
    background-image: linear-gradient(
        to bottom,
        @button-emphasis-background-color 0%,
        @button-emphasis-background-color2 100%
    );
    color: @button-font-contrast-color;
}

.exclusive-buttons > * {
    margin-left: -@button-border-width;
    border-radius: 0;
}

.exclusive-buttons > :first-child {
    border-top-left-radius: @button-border-radius;
    border-bottom-left-radius: @button-border-radius;

    margin-left: 0;
}

.exclusive-buttons > :last-child {
    border-top-right-radius: @button-border-radius;
    border-bottom-right-radius: @button-border-radius;

    margin-right: 0;
}

.exclusive-button-active {
    background-image: linear-gradient(
        to bottom,
        @button-active-background-color 0%,
        @button-active-background-color2 100%
    );
    color: @button-font-contrast-color;
}
