@font-face {
    font-family: cog;
    src:
        url("../fonts/Cogmind-Cog.woff2") format("woff2"),
        url("../fonts/Cogmind-Cog.woff") format("woff"),
        url("../fonts/Cogmind-Cog.ttf") format("truetype");
}

@font-face {
    font-family: cog-mono;
    src:
        url("../fonts/Cogmind-Cog-mono.woff2") format("woff2"),
        url("../fonts/Cogmind-Cog-mono.woff") format("woff"),
        url("../fonts/Cogmind-Cog-mono.ttf") format("truetype");
}

@font-face {
    font-family: smallcaps;
    src:
        url("../fonts/Cogmind-Smallcaps.woff2") format("woff2"),
        url("../fonts/Cogmind-Smallcaps.woff") format("woff"),
        url("../fonts/Cogmind-Smallcaps.ttf") format("truetype");
}

@font-face {
    font-family: smallcaps-mono;
    src:
        url("../fonts/Cogmind-Smallcaps-mono.woff2") format("woff2"),
        url("../fonts/Cogmind-Smallcaps-mono.woff") format("woff"),
        url("../fonts/Cogmind-Smallcaps-mono.ttf") format("truetype");
}

// Keep in sync with theme.less
@default-font-family: var(--default-font-family);