@import "./common.less";

body {
    background-color: @page-background-color;
    color: @font-color-default;

    margin-left: auto;
    margin-right: auto;
    padding-left: @page-horizontal-margin;
    padding-right: @page-horizontal-margin;

    max-width: @page-max-width;

    overflow-y: scroll;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}