@button-border-width: 1px;

@button-border-radius: 8px;

@button-default-padding: 10px;
@button-small-padding: 4px;

@chart-container-corner-radius: 5px;
@chart-grid-gap: 15px;

@dropzone-border-radius: 20px;