// Margins
@default-element-top-margin: 10px 0 0 0;
@default-element-vertical-margin: 10px 0 10px 0;
@default-element-column-gap: 5px;

// Borders
// Keep in sync with theme.less
@default-border-radius: var(--default-border-radius);
@dropzone-border-radius: var(--dropzone-border-radius);

@default-border-width: 1px;
@dropzone-border-width: 2px;

// Header
@cogminder-title-font-size: 2.0rem;
@page-title-font-size: 2.5rem;
@page-title-margin: 0.5rem 0;
@page-title-explanation-inner-margin: 1.0rem;
@header-setting-children-margin: 5px 0;

// Page
@page-horizontal-margin: 15px;
@page-max-width: 1700px;

// Buttons
@button-default-padding: 10px;
@button-small-padding: 4px;

// Charts
@chart-container-border-radius: @default-border-radius;
@chart-grid-gap: 15px;
@chart-min-width: min(80vw, 450px);
@chart-max-width: min(90vw, 550px);
@chart-padding: 0 5px 5px 5px;

// Dropzone
@dropzone-padding: 10px;

// Tooltips
@tooltip-max-width: 300px;
@tooltip-padding: 4px 8px;

// Popovers
@popover-padding: @tooltip-padding;