@import "../../../styles/common.less";

.details-font {
    font-family: "smallcaps-mono";
    font-size: @details-font-size;
}

.details-line,
.details-half-line,
.details-part,
.details-description,
.details-option,
.details-location,
.details-summary {
    margin: 0;
    color: @details-font-color;
}

.details-part a {
    text-decoration: none;
}

.details-half-line {
    font-size: @details-half-font-size;
}

.details-summary,
.details-option {
    .details-font();

    color: @details-summary-font-color;
}

.details-location {
    color: @details-location-font-color;
}

.details-description {
    display: block;
    max-width: @details-description-max-width;
}

.details-title {
    font-family: smallcaps-mono;
    text-align: center;
    color: @details-font-color;
    font-size: @details-font-size;
    margin-bottom: 0;
    margin-top: 0;
}

.details-part-image-title {
    height: @details-part-icon-size;

    > img {
        height: @details-part-icon-size;
        width: @details-part-icon-size;
        vertical-align: middle;
    }
}

.part-art-image-container {
    text-align: center;
    height: @details-part-image-height;

    > img {
        width: @details-part-image-width;
        height: @details-part-image-height;
    }
}

.details-range-green,
.details-range-yellow,
.details-range-orange,
.details-range-red,
.details-range-dim {
    letter-spacing: @details-range-letter-spacing;
}

.details-dim-text {
    color: @details-dim-text;
}

.details-range-green {
    color: @details-range-green;
}

.details-range-yellow {
    color: @details-range-yellow;
}

.details-range-orange {
    color: @details-range-orange;
}

.details-range-red {
    color: @details-range-red;
}

.details-range-dim {
    color: @details-dim-text;
}

.rating-prototype,
.rating-alien,
.projectile-num {
    color: @details-background-color;
    background-color: @details-font-color;
    border: @comparison-border-width solid @details-font-color;
}

.part-details {
    background-color: @details-background-color;
    border: @comparison-border-width solid @popover-border-color;
    border-radius: 0;
    line-height: @comparison-line-height;

    padding: @comparison-container-gap;

    * {
        .details-font();
    }
}
