@import "../../../styles/common.less";

.details-font {
    font-family: "smallcaps-mono";
    font-size: 0.8rem;
}

.details-line,
.details-half-line,
.details-part,
.details-description,
.details-option,
.details-location,
.details-summary {
    margin: 0;
    color: @details-font-color;
}

.details-part a {
    text-decoration: none;
}

.details-half-line {
    font-size: @popover-half-font-size;
}

.details-summary,
.details-option {
    .details-font();
    
    color: #bfbfbf;
}

.details-location {
    color: #005700;
}

.details-description {
    display: block;
    max-width: 28rem;
}

.details-title {
    font-family: smallcaps-mono;
    text-align: center;
    color: @details-font-color;
    font-size: @popover-font-size;
    margin-bottom: 0;
    margin-top: 0;
}

.details-part-image-title {
    height: 1.5rem;

    > img {
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: middle;
    }
}

.part-art-image-container {
    text-align: center;
    height: 11.25rem;

    > img {
        width: 27rem;
        height: 11.25rem;
    }
}

.dim-text {
    color: #004000;
}

.range-green,
.range-yellow,
.range-orange,
.range-red,
.range-dim {
    letter-spacing: -0.1875rem;
}

.range-green {
    color: #00b200;
}

.range-yellow {
    color: #b2b200;
}

.range-orange {
    color: #b25900;
}

.range-red {
    color: #b20000;
}

.range-dim {
    color: #004000;
}

.rating-prototype,
.rating-alien,
.projectile-num {
    color: black;
    background-color: #00b200;
    border: 2px solid #00b200;
}

.part-details {
    background-color: black;
    border: 2px solid @popover-border-color;
    border-radius: 0;
    line-height: 1.5;

    padding: 0.5rem;

    * {
        .details-font();
    }
}
